<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SearchAllCoursesServlet</servlet-name>
        <servlet-class>fr.utbm.gestion_de_formations_en_ligne.servlet.SearchAllCoursesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAllCoursesKeyWordServlet</servlet-name>
        <servlet-class>fr.utbm.gestion_de_formations_en_ligne.servlet.SearchAllCoursesKeyWordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchAllCoursesServlet</servlet-name>
        <url-pattern>/Courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAllCoursesKeyWordServlet</servlet-name>
        <url-pattern>/CoursesKeyWord</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
